{% extends 'base.html' %}


{% block content %}
{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}

 {% endif %}
<div class="container">
    <div class="row">
      <div class="mx-auto" style="width: 340px;margin: 50px auto;">
        <div class="card card-signin my-5">
          <div class="card-body" >
          	<hr class="my-4">
            <h3 class="card-title text-center">Please Register here!</h3>

            <form class="form-signin" action="/AdminRegister/" method="POST">
                {% csrf_token %}
                <div class="form-label-group">
              	<label for="Username">id</label>
                <input type="text" id="id" name="id" class="form-control" placeholder="Fullname" required="" autofocus>                
              </div>
              <br>
              <div class="form-label-group">
              	<label for="Username">Username</label>
                <input type="text" id="Username" name="username" class="form-control" placeholder="Username" required="" autofocus>                
              </div>
              <br>
              <div class="form-label-group">
              	<label for="inputPassword">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                <br>
              </div>
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <hr class="my-4">
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


	
</div>
<br>










{% endblock %}