<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>Property Management System</title>

    <style>
      #nbar{
        height: 70px;
      }
    </style>
    
  </head>
  <body>

<nav id="nbar" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Property Management <br> System</a>
    </div>
    <ul class="nav navbar-nav ">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        {% if  request.session.UserType == 'User' %}
         <li class="dropdown"><a href = "{% url 'ViewProperty' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View Property</a>
          <ul class="dropdown-menu">
          <li><a href="{% url 'ViewProperty' %}">View All Property</a></li>
          <li><form action="/PropertyType/" method="POST">
              {% csrf_token %}
            <input list="PropertyType" name="Types" id="Types" placeholder="Select Property Type">
            <datalist id="PropertyType">
                <option value="Buy">
                    <option value="Rent">
                    </datalist>
                    <input type="submit" hidden>
                </form></li>
            </ul>
        </li>
        <li><a href="{% url 'Advertisement' %}"> Advertisement</a></li>
        <li ><a href="{% url 'FavouriteProperty' %}">Favourite Property</a></li>
        <li ><a href="{% url 'BookAppointment' %}">Book Appointment</a></li>
        <li ><a href="{% url 'ViewDigitalProperties' %}">View Digital Property</a></li>
        {% elif  request.session.UserType == 'Admin' %}
        <li ><a href="{% url 'AddAdvertisement' %}">Add Advertisement</a></li>
        <li><a href="{% url 'Advertisement' %}"> Advertisement</a></li>
        <li ><a href="{% url 'ViewCustomer' %}">Customer</a></li>
        <li ><a href="{% url 'AddProperty' %}">Add Property</a></li>
        <li ><a href="{% url 'AddDigitalProperty' %}">Add Digital Property</a></li>
        <li ><a href="{% url 'ViewProperties' %}">View Property</a></li>
        <li ><a href="{% url 'BookedAppointment' %}">Booked Appointments</a></li>
        <li ><a href="{% url 'DigitalProperty' %}">Digital Property</a></li>
        <li ><a href="https://opensea.io/account">Create</a></li>
        



        {% endif %}

      </ul>

        {% if  request.session.login == 'Yes' %}
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a class=" text-white text-capitalize" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-log-in"></span> &nbsp;Login <span class="caret"></span></a>
                    <ul class="dropdown-menu  navbar-inverse" >
                        <li><a  style="color: white;" href="{% url 'AdminLogin' %}">Admin</a></li>
                        <li><a  style="color: white;" href="{% url 'UserLogin' %}">Customer</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </ul>
</nav>
<div style="background-color: white; background-repeat:no-repeat;background-size: cover;color: black;height:800px; ">
    {% block content%}
     

    {% endblock%}
    
    
    
 <footer class="text-right" style="padding: 10px 20px;background: #222222;color: white;height: 44px;position:fixed;
           bottom:0; width: 100%;">
      <p style="font-size: small;">Company ©2021. All rights reserved.</p>
</div>
    </footer>
  </body>
</html>