{% extends 'base.html' %}
{% block content %}
{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}

 {% endif %}
 
 <nav class="navbar">
   <div class="mx-auto" style="width: 340px;margin: 50px auto;">
    <h1>View Customer</h1>
  <form class="form-inline" action="/ViewCustomer/" method="POST">
    {% csrf_token %}
<input class="form-control mr-sm-2" type="search" name = "search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>

<div class="container">
    <div class="col-md-12">
<table class="table table-striped" style="background-color:#FFFFE0;">
    <thead>
      <tr> 
        <th>Customer Id</th>
        <th>Customer Name</th>
         <th>Cusomer Phone</th>
        <th>Customer  Email</th>
         <th>Cusomer Address</th>
        <th>Customer Username</th>
</tr>
</thead>
<tbody>
{% if searched  %}
{% for or in searches %}
<tr>
       <td>{{or.id}}</td>
        <td>{{or.Name}}</td>
       <td>{{or.Mobile}}</td>
        <td>{{or.Email}}</td>
        <td>{{or.Address}}</td>
        <td>{{or.Username}}</td>
         <td><a href="/delete/{{or.id}}"style="display: flow-root;background-color:black;" class="btn btn-primary stretched-link text-center">DELETE</a>
      </tr>
    {% endfor %}

</tbody>
</table>
{% else %}
{% for or in users %}  
      <tr>
       <td>{{or.id}}</td>
        <td>{{or.Name}}</td>
       <td>{{or.Mobile}}</td>
        <td>{{or.Email}}</td>
        <td>{{or.Address}}</td>
        <td>{{or.Username}}</td>
         <td><a href="/delete/{{or.id}}"style="display: flow-root;background-color:black;" class="btn btn-primary stretched-link text-center">DELETE</a>
      </tr>
    {% endfor %}

</tbody>
</table>
</div>
</div>
{% endif %}


{% endblock %}