{% extends 'base.html' %}
{% block content %}
{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
{% endfor %}

 {% endif %}
 <center><h1>View Property</h1></center>
 <nav class="navbar">
   <div class="mx-auto" style="width: 340px;margin: 50px auto;">
  <form class="form-inline" action="/ViewProperties/" method="POST">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name = "search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>

<div class="container">
    <div class="col-md-12">
<table class="table table-striped" style="background-color:#FFFFE0;">
    <thead>
      <tr> 
        <th>Property ID</th>
        <th>Image</th>
        <th>Type</th>
         <th>Property Type</th>
         <th>Price</th>
         <th>Sqft</th>
         <th>Area</th>
         <th>Address</th>
         <th>Landmark</th>
         <th>DeveloperName</th>
          <th>Bedroom</th>
          <th>Bathroom</th>
          <th>Furnished</th>
         <th>CCTV</th>
         <th>Parking</th>
</tr>
</thead>
<tbody>
{% if searched  %}
{% for p1 in searches %}

      <tr>
       <td>{{p1.id}}</td>
       <td><img src="{{p1.Image.url}}" style="height: 150px;width:200px;"></td>
        <td>{{p1.Type}}</td>
       <td>{{p1.PropertyType}}</td>
        <td>{{p1.Price}}</td>
        <td>{{p1.Sqft}}</td>
        <td>{{p1.Area}}</td>
        <td>{{p1.Address}}</td>
       <td>{{p1.Landmark}}</td>
        <td>{{p1.DeveloperName}}</td>
        <td>{{p1.Bedroom}}</td>
        <td>{{p1.Bathroom}}</td>
        <td>{{p1.Furnished}}</td>
       <td>{{p1.CCTV}}</td>
        <td>{{p1.Parking}}</td>
        <td><a href="/updates/{{p1.id}}"style="display: flow-root;background-color: black;" class="btn btn-primary stretched-link text-center">UPDATE</a>
        <td><a href="/deleteproperty/{{p1.id}}"style="display: flow-root;background-color:black;" class="btn btn-primary stretched-link text-center">DELETE</a>
      </tr>
{% endfor %}
</tbody>
</table>
{% else %}
  {% for p1 in prop3 %} 
 <tr>
    <td>{{p1.id}}</td>
       <td><img src="{{p1.Image.url}}" style="height: 150px;width:200px;"></td>
        <td>{{p1.Type}}</td>
       <td>{{p1.PropertyType}}</td>
        <td>{{p1.Price}}</td>
        <td>{{p1.Sqft}}</td>
        <td>{{p1.Area}}</td>
        <td>{{p1.Address}}</td>
       <td>{{p1.Landmark}}</td>
        <td>{{p1.DeveloperName}}</td>
        <td>{{p1.Bedroom}}</td>
        <td>{{p1.Bathroom}}</td>
        <td>{{p1.Furnished}}</td>
       <td>{{p1.CCTV}}</td>
        <td>{{p1.Parking}}</td>
        <td><a href="/updates/{{p1.id}}"style="display: flow-root;background-color: black;" class="btn btn-primary stretched-link text-center">UPDATE</a>
        <td><a href="/deleteproperty/{{p1.id}}"style="display: flow-root;background-color:black;" class="btn btn-primary stretched-link text-center">DELETE</a>
      </tr>
    {% endfor %}


</tbody>
</table>
</div>
</div>

{% endif %}
{% endblock %}








